<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Confirmation</title>
  </head>

<body 
style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;">

  <table 
  width="100%"
   cellpadding="0"
    cellspacing="0"
     border="0" 
     style=" padding:20px 0;">
    <tr>
      <td align="center">

        <!-- Container -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0"
          style="max-width:640px; background:#ffffff; border-radius:8px; overflow:hidden;">

          <!-- Logo -->
          <tr>
            <td align="center" style="padding:25px; padding-bottom: 10px;">
              <img src="https://res.cloudinary.com/dinziqoat/image/upload/v1763386094/open-school-portal-logo_upeogv.svg"
                alt="Logo" 
                width="60px" 
                height="60px"
                 style="display:block;" />
            </td>
          </tr>




        <tr>
            <td align="center" style="padding:30px 20px 10px; ">
              <h2
                style="margin:0; font-size:25px; color:#333333; font-weight:700; padding-bottom: 30px">
               Hi, Grace
              </h2>
            </td>
          </tr>

          <!-- Header Image – NO DISTORTION, perfect quality -->
<tr>
  <td align="center" style="padding:0 30px 40px 30px;">
    <img 
      src="https://res.cloudinary.com/dfztkqaea/image/upload/v1763977467/admin_egwurk.png" 
      alt="SchoolFolio Dashboard" 
      width="640" 
      style="
        display:block; 
        width:100%;         
        max-width:640px;     
        height:auto !important; 
        border-radius:10px;
        border:none;
        outline:none;
      " 
    />
  </td>
</tr>






          <!-- Title -->
          <tr>
            <td align="center" style="padding:3px 20px 20px;">
              <h2
                style="margin:0; font-size:22px; color:#333333; font-weight:700;">
                Welcome to School Base
              </h2>
            </td>
          </tr>

          <!-- Message -->
          <tr>
            <td align="center" style="padding:0 30px 20px;">
              <p
                style="margin:0; font-size:14px; line-height:22px; color:#555555; padding-bottom: 10px;">
              


             You have been added as a teacher on School Base. Please click on the button <br/><br/>below and  follow the instructions to setup your account.
             <br/><br/>
              Welcome on board!
              </p>
            </td>
          </tr>


     






          <!-- CTA Button -->
          <tr>
            <td align="center" style="padding:10px 0 30px;">
              <a href="#"
                style="background:#d9534f; color:#ffffff; padding:12px 25px; text-decoration:none; border-radius:5px; font-size:14px; font-weight:600; display:inline-block;">
                Accept Invite
              </a>
            </td>
          </tr>

          <!-- Divider -->
          <tr>
            <td align="center" style="padding:10px 40px;">
              <hr style="border:none; border-top:1px solid #e0e0e0;" />
            </td>
          </tr>

         <!-- Footer -->
          <tr>
            <td align="center" style="padding:0 20px 20px;">
              <p style="margin:0; font-size:12px; color:#777777; line-height:18px;">
                The Modern Way School Run In Nigeria. Manage attendance, results, <br/><br/>
                timetables, fees, and NFC, all in one place <br/><br/>
              </p>

                <p  style="margin:15px 0 0 0; font-size:11px; color:#aaaaaa;">
            Copyright  © 2025 School Base. All rights reserved
          </p>


            </td>
          </tr>

          
          <tr>
            <td align="center" style="padding:10px 40px;">
              <hr style="border:none; border-top:1px solid #e0e0e0;" />
            </td>
          </tr>



        </table>
        
        
      </td>
    </tr>



    
        <!-- Socials -->
        <tr>
          <td align="center" style="padding: 10px 0 20px">
            <a
              href="#"
              style="
                margin: 0 10px;
                display: inline-block;
                text-decoration: none;
              "
            >
              <img
                src="https://img.icons8.com/?size=100&id=32292&format=png&color=000000"
                width="24"
                height="24"
                alt="Instagram"
                style="display: block"
              />
            </a>

            <a
              href="#"
              style="
                margin: 0 10px;
                display: inline-block;
                text-decoration: none;
              "
            >
              <img
                src="https://img.icons8.com/?size=100&id=85348&format=png&color=000000"
                width="24"
                height="24"
                alt="LinkedIn"
                style="display: block"
              />
            </a>

            <a
              href="#"
              style="
                margin: 0 10px;
                display: inline-block;
                text-decoration: none;
              "
            >
              <img
                src="https://img.icons8.com/?size=100&id=cMRBi0rI3iwb&format=png&color=000000"
                width="24"
                height="24"
                alt="X"
                style="display: block"
              />
            </a>        

         
          </td>
        
        </tr>
  </table>

</body>
</html>
